header {
  padding-bottom: 10px;
  .title {
    font-weight: bold;
    font-size: 25px;
    font-size: max(2vw, 25px);
  }

  .subtitle {
    font-size: 15px;
    font-size: max(1vw, 15px);
  }

  #langButtons {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;

    font-weight: 200px;

    .fr::before {
      content: "\01F1EB\01F1F7";
    }
    .ie::before {
      content: "\01F1EE\01F1EA";
    }
  }

  @media screen and (max-width: 480px) {
    #langButtons {
      display: none !important;
    }
  }
}
