# Files

.DS_Store
.ruby-version
npm-debug.log

# Folders

.idea/
.sass-cache
_gh_pages
_site
node_modules
.vscode/settings.json
.nyc_output/processinfo/3fd5a954-1289-426c-bc9b-6b7ea38b7c90.json
.nyc_output/processinfo/index.json
.nyc_output/3fd5a954-1289-426c-bc9b-6b7ea38b7c90.json
