@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

/**
    Thème
**/
$deep-koamaru:#2b4162;
$myrtle-green:#326273;
$cadet-blue:#5c9ead;
$neon-carrot:#fa9f42;
$white:#ffffff;

/**
    Variables Bulma
**/
$primary:$cadet-blue;
$primary-invert:#fff;
$info:$myrtle-green;
$info-invert:#fff;
$footer-color:$deep-koamaru;
$link:$neon-carrot;
$link-hover:"";

html {
    background-color: $primary;
}

@import "../node_modules/bulma/bulma";

#idCard {

    .hero-body {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    // permet de re-aligner les tags avec les subtitles
    .tags {
        margin-top: -1.25rem;
    }
}

// retire les barres de scroll des panneaux experience/education
#experiences .media-content {
    overflow: hidden;
}

footer {
    background-color: $footer-color !important;
    color: #fff;
}

footer strong {
    color: #fff;
}

.media-content {
    margin-top: -6px;
}

// Pour devices iOS qui ont un notch (si c'est pas un device avec un notch, it's no-tch your problem)
div.hero-body {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}

.btn-centered div.column.hasContent {
    padding-left: 5%;
}

.btn-centered .button+.button {
    margin-left: 80px;
}

.btn-centered .button {
    min-width: 150px;
}

@media screen and (max-width: 768px) {
    .button.is-fullw-mobile {
        display: flex;
        width: 100%;
    }
}

@font-face {
    font-family: "icomoon";
    src: url("../font/fonts/icomoon.eot");
    src: url("../font/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../font/fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../font/fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon .fab {
    font-family: "icomoon";
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}

.icon-github-alt:before {
    content: "\e903";
}

.icon-linke-square:before {
    content: "\e902";
}

.icon-envelope-open:before {
    content: "\e901";
}

.icon-twit:before {
    content: "\e904";
}

.icon-teleg:before {
    content: "\e900";
}