@charset "utf-8";

/**
    Thème
**/
$deep-koamaru: #152528;
$myrtle-green: #1d353a;
$cadet-blue: #25444b;
$neon-carrot: #142225;
$admink-brand: #f38d68;

@use "bulma/sass/base" with (
  $primary: $cadet-blue,
  $primary-invert: #fff,
  $info: $myrtle-green,
  $info-invert: #fff,
  $footer-color: $deep-koamaru,
  $success: $deep-koamaru,
  $link: $neon-carrot,
  $link-hover: ""
);

html {
  background-color: $primary;
}

body {
  overflow-x: hidden;
}

#idCard {
  .hero-body {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  // permet de re-aligner les tags avec les subtitles
  .tags {
    margin-top: -1.25rem;
  }
}

// retire les barres de scroll des panneaux experience/education
#experiences .media-content {
  overflow: hidden;
}

footer {
  background-color: $footer-color !important;
  color: #fff;
}

footer strong {
  color: #fff;
}

.media-content {
  margin-top: -6px;
}

// Pour devices iOS qui ont un notch (si c'est pas un device avec un notch, it's no-tch your problem)
div.hero-body {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

section#contact .button {
  min-width: 155px;
}

@media screen and (max-width: 768px) {
  .button.is-fullw-mobile {
    display: flex;
    width: 100%;
  }
}

.displayOnlyOnPrint {
  display: none;
}

.tile p.title {
  font-size: 25px;
}

//
footer small {
  color: $white;
}

// Photo de Profil
#photoProfil {
  background-color: $primary;
}

.tile.is-vertical {
  background-color: unset;
}

// fix d'un affichage désagréable sur la carte Bulma
#photosAndButtons .card {
  border-radius: unset;
  box-shadow: unset;
  background-color: $deep-koamaru;
}

#mailWhenNoJavascript {
  text-align: left;
  font-size: 20px;
}

p.title a {
  color: $admink-brand !important;
}
