.comment {
  font-style: italic;
  margin-top: -25px;
}

// permet de re-aligner les tags avec les subtitles
.tags,
.description,
.comment {
  margin-top: -1.25rem;
}

.card-content {
  margin-top: 1rem;
}

.mission.card-content {
  margin-top: 0;
}

.mission .media {
  border-top-style: none;
  align-items: self-end;
}
